*,
*::before,
*::after {
	box-sizing: border-box;
}

@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/ptsans-400.woff2') format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/ptsans-700.woff2') format("woff2");
	font-display: swap;
}

html {
	height: 100%;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	font-family: "PT Sans", sans-serif;
	background-color: #fff;
	color: #333333;
	font-size: 18px;
	line-height: 21px;
	font-weight: 400;
	font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* navigation */
.header-logo-img {
	position: absolute;
	left: 50%;
    transform: translateX(-50%);
	top: 0;
	z-index: 1;
}

.navigation {
	position: relative;
	display: flex;
	justify-content: space-between;
	padding: 0 59px;
	width: 1200px;
	min-height: 65px;
	margin: 0 auto;
}

.navigation-list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0;
	padding: 0;
	width: 350px;
	list-style-type: none;
}

.navigation-link {
	position: relative;
	display: block;
	padding: 6px 12px;
	font-size: 20px;
	font-weight: 700;
	line-height: 26px;
	color: #000;
	text-decoration: none;
	outline: none;
}

.navigation-link:hover {
	color: #756257;
}

.navigation-link:focus {
	color: #756257;
	box-shadow: inset 0 0 0 3px #83B3D3;
	border-radius: 10px;
}

.navigation-link:active {
	box-shadow: none;
	color: rgba(117, 98, 87, .3);
}

.navigation-user {
	width: 281px;
	justify-content: flex-end;
}
.navigation-user .navigation-link {
	min-width: 38px;
	min-height: 38px;
	padding: 10px;
}

.navigation-circle {
	display: flex;
    flex-direction: column;
    justify-content: center;
	position: absolute;
	width: 19px;
	height: 19px;
	border-radius: 50%;
	background-color: #7DB54F;
	text-align: center;
	top: 0;
	right: -3px;

	font-size: 10px;
	line-height: 13px;
	color: #fff;
}

.navigation-user .navigation-item {
	margin-right: 3px;
	margin-bottom: 0;
}

.navigation-link:hover .navigation-icon {
	fill: #756257;
}

.navigation-link:focus .navigation-icon {
	fill: #756257;
}

.navigation-user .navigation-link:focus {
	color: #756257;
	box-shadow: inset 0 0 0 3px #83B3D3;
}

.navigation-user .navigation-link:active {
	opacity: .3;
	box-shadow: none;
}

.navigation-link-current::after {
	position: absolute;
	content: "";
	height: 2px;
  	bottom: -16px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #756257;
	width: calc(100% - 24px);
}

.navigation-item {
	margin-right: 9px;
	margin-bottom: 4px;
}
.navigation .navigation-item:nth-child(3n) {
	margin-right: 0;
}

.navigation-icon {
	display: block;
	margin: auto;
	fill: #000;
}

.navigation-user .button-nav {
	display: block;
	width: 160px;
	padding: 9px;
	border-radius: 4px;
	background-color: #756257;
	font-size: 16px;
	font-weight: 700;
	line-height: 21px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin-left: 17px;
    margin-right: 12px;
}

.navigation-user .button-nav:hover {
	background-color: #615048;
	color: #fff;
}

.navigation-user .button-nav:focus {
	background-color: #615048;
	color: #fff;
}

.navigation-user .button-nav:active {
	background-color: #615048;
	box-shadow: none;
	color: rgba(255, 255, 255, .3);
	opacity: 1;
}

.main-container {
	flex-grow: 1;
}

.page-container {
	width: 1200px;
	margin: 0 auto;
}

/*  PROMO  */
 .promo {
	text-align: center;
}

.promo-img {
	display: block;
	margin: 0 auto;
}

.promo-wrapper {
	position: relative;
	background-image: url('../img/index/index-background.jpg');
	background-size: 1200px auto;
	background-repeat: no-repeat;
	background-position: top center;
	background-color: #898989;
	padding-top: 51px;
	padding-bottom: 78px;
}

.promo-wrapper::after {
	position: absolute;
	content: "";
	background-image: url('../img/index/divider.svg');
	background-position: center center;
	background-repeat: no-repeat;
	bottom: 0;
	left: 0;
	width: 1200px;
	height: 57px;
}

.promo-about {
	background-color: #fff;
	padding: 63px 240px 79px;
}

.promo-about-description {
	font-size: 30px;
	font-weight: 700;
	margin: 0;
	margin-bottom: 34px;
	line-height: 36px;
	color: #000000;
	text-transform: uppercase;
}

.promo-about-reason {
	font-size: 22px;
	line-height: 36px;
	margin: 0;
}

/* ADVANTAGES */
.advantages {
	text-align: center;
}

.advantages-block {
	display: flex;
	background-color: #83B3D3;
	color: #fff;
}

.advantages-block-text {
	padding: 98px 90px 77px;
}

.advantages-block--right {
	flex-direction: row-reverse;
}

.advantages-block-title {
	font-size: 24px;
	line-height: 28px;
	font-weight: 700;
	margin: 0 auto 30px;
	text-transform: uppercase;
}

.advantages-block-number {
	margin: 0;
}

.advantages-block-description {
	margin: 31px auto 0;
}

.advantages-list {
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
}

.advantages-list-item {
	width: 400px;
	min-height: 384px;
	background-repeat: no-repeat;
	padding: 98px 75px 77px;
}

.advantages-list--features .advantages-list-item {
	padding: 184px 75px 79px;
}
.advantages-list--features .advantages-list-item .advantages-list-title {
	margin-bottom: 20px;
}
.advantages-list-item:nth-child(2n + 1) {
	background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list-item:nth-child(2) {
	background: rgba(131, 179, 211, 0.2);
}

.advantages-list-title {
	font-size: 24px;
	line-height: 28px;
	font-weight: 700;
	margin: 0 auto 29px;
	color: #000;
	text-transform: uppercase;
}

.advantages-list-number {
	margin: 0 auto 32px;
}

.advantages-list-description {
	margin: 0;
}

.advantages-list .advantages-list-item--housing {
	background-image: url('../img/index/advantages/housing.svg');
	background-size: 75px 72px;
	background-position-x: center;
	background-position-y: 89px;
}

.advantages-list .advantages-list-item--food {
	background-color: #fff;
	background-image: url('../img/index/advantages/food.svg');
	background-size: 74px 70px;
	background-position-x: center;
	background-repeat: no-repeat;
	background-position-y: 91px;
}

.advantages-list .advantages-list-item--souvenirs {
	background-image: url('../img/index/advantages/souvenirs.svg');
	background-size: 64px 76px;
	background-position-x: center;
	background-position-y: 85px;
}

/* SEARCH */
.search {
	min-height: 417px;
	text-align: center;
	padding: 91px 240px;
}

.search-title {
	display: block;
	margin-bottom: 30px;
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
	color: #000000;
	text-transform: uppercase;
}

.search-description {
	font-size: 22px;
	line-height: 26px;
	margin: 0 auto 59px;
	margin-right: 15px;
}

.search-link {
	display: block;
	margin: 0 auto;
	width: 575px;
    padding: 12px;
	border-radius: 10px;
	background-color: #756257;
	font-size: 20px;
	font-weight: 700;
	line-height: 36px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
}

.search-link:hover {
	background: #615048;
	outline: none;
}

.search-link:focus {
	box-shadow: inset 0 0 0 3px #83B3D3;
	border-radius: 10px;
	outline: none;
}

.search-link:active {
	background: #615048;
	color:rgba(255, 255, 255, 0.3);
	outline: none;
}

/* MAILING */
.mailing {
	text-align: center;
	padding: 89px 200px 137px;
}

.mailing-title {
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
	margin: 0 auto 30px;
	text-transform: uppercase;
	color: #000;
}

.mailing-description {
	margin: 0;
	font-size: 22px;
	line-height: 26px;
	margin-bottom: 48px;
}

.mailing--index  {
	background-image: url('../img/mailing-background.jpg');
	background-size: 1200px 411px;
	background-position: top center;
	background-repeat: no-repeat;
	background-color: #898989;
	color: #fff;
	padding: 94px 200px;
}

.mailing--index .mailing-title {
	color: inherit;
}

.mailing-form {
	display: grid;
	grid-template-columns: 1fr auto;
}

.email-field {
	font-family: inherit;
	font-size: 18px;
	line-height: 26px;
	background-color: #F2F2F2;
	padding: 17px 19px 17px 22px;
	border: none;
	border-radius: 10px 0px 0px 10px;
	outline: none;
}

.email-field:hover {
	background-color: #E6E6E6;
}

.email-field:focus {
	box-shadow: inset 0 0 0 3px #83B3D3;
}

.email-field:active {
	box-shadow: inset 0 0 0 2px #000;
}

.email-field:invalid {
	box-shadow: inset 0 0 0 2px #FF5757;
}

.button {
	width: 200px;
	padding: 15px;
	border-radius: 0px 10px 10px 0px;
	border: none;
	background-color: #83b3d3;
	font-size: 20px;
	font-weight: 700;
	line-height: 26px;
	color: #fff;
	text-transform: uppercase;
	font-family: inherit;
	outline: none;
	cursor: pointer;
}

.button:hover {
	background: #68A2CA;
}

.button:focus {
	background: #68A2CA;
	box-shadow: inset 0 0 0 3px #756257;
}

.button:active {
	background: #68A2CA;
	color: rgba(255, 255, 255, .3);
}

/* FOOTER */

.footer-social-link {
	display: flex;
	justify-content: space-between;
	padding: 23px 50px 24px;
	align-items: center;
	width: 1200px;
	margin: 0 auto;
}

.footer-social-list {
	display: flex;
	flex-wrap: wrap;
	margin: 12px;
	padding: 0;
	width: 130px;
	list-style-type: none;
}

.footer-social-item {
	margin-right: 3px;
}

.button-social {
	display: flex;
	width: 40px;
	height: 40px;
	border-radius: 10px;
	outline: none;
}

.footer-icon {
	fill: #83B3D3;
	margin: auto;
}

.button-social:hover .footer-icon {
	fill: #68A2CA;
}

.button-social:focus .footer-icon {
	fill: #68A2CA;
}

.button-social:focus {
	box-shadow: inset 0 0 0 3px#68A2CA;
}

.button-social:active {
	box-shadow: none;
	opacity: .3;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-tel {
	display: block;
	font-size: 40px;
	line-height: 40px;
	color: #000;
	text-decoration: none;
	outline: none;
	padding: 15px;
}

.footer-tel:hover {
	color: #756257;
}

.footer-tel:focus {
	box-shadow: inset 0 0 0 3px#83B3D3;
	border-radius: 10px;
	color: #756257;
}

.footer-tel:active {
	opacity: 0.3;
	box-shadow: none;
}

.footer-logo {
	fill: #000;
}

.footer-htmlacademy-link {
	outline: none;
	padding: 18px 22px;
	border-radius: 10px;
}

.footer-htmlacademy-link:hover .footer-logo {
	fill: #756257;
}

.footer-htmlacademy-link:focus .footer-logo {
	fill: #756257;
}

.footer-htmlacademy-link:focus {
	box-shadow: inset 0 0 0 3px#83B3D3;
}

.footer-htmlacademy-link:active {
	box-shadow: none;
	opacity: .3;
}

/* HOTELS */

.inner-filter {
	background-image: url('../img/hotels/hotels-background.jpg');
	background-size: 1200px 408px;
	background-repeat: no-repeat;
	background-position: top center;
	background-color: #898989;
	color: #fff;
	padding: 30px 72px 83px;
}

.inner-filter-title {
	font-size: 60px;
	font-style: normal;
	font-weight: 700;
	line-height: 78px;
	margin: 0 0 5px;
}

.breadcrumbs {
	display: flex;
	font-size: 16px;
	line-height: 21px;
	list-style: none;
	margin: 0 0 45px;
	padding: 0;
}

.breadcrumbs-link {
	color: inherit;
	margin-right: 14px;
	outline: none;
	border-radius: 4px;
	padding: 3px 8px;
	text-decoration: none;
}

.breadcrumbs-link--home {
	position: relative;
}

.breadcrumbs-link--home::after {
	position: absolute;
	content: "";
	background-image: url('../img/hotels/breadcrumbs/icon-arrow.svg');
	background-repeat: no-repeat;
	width: 6px;
	height: 8px;
	top: 50%;
	transform: translateY(-50%);
	right: -11px;
}

.breadcrumbs-link:hover {
	opacity: 0.6;
}

.breadcrumbs-link:focus {
	box-shadow: inset 0 0 0 3px #83B3D3;
}

.breadcrumbs-link:active {
	box-shadow: none;
	opacity: 0.3;
}

.hotels-filter {
	display: grid;
	grid-template-columns: 150px 67px 145px 167px 287px 81px;
	grid-template-rows: auto;
}
 
.hotels-filter-group {
	margin: 0;
	padding: 0;
	border: none;
}

.hotels-filter-group.hotels-filter-type {
	grid-column: 3;
}

.hotels-filter-group.hotels-filter-price {
	grid-column: 5;
}

.hotels-filter-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.hotels-filter-item {
	margin-bottom: 12px;
}

.hotels-filter-item:last-child {
	margin-bottom: 0;
}

.hotels-filter-title {
	font-size: 20px;
	font-weight: 700;
	line-height: 26px;
	margin-bottom: 30px;
}

.control {
	position: relative;
  	display: block;
  	padding-left: 39px;
	cursor: pointer;
}

.control-mark {
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	background: #FFFFFF;
	border-radius: 4px;
}

.control:hover .control-mark {
	background: rgba(255, 255, 255, 0.6);
}

.control-input:focus + .control-mark {
	box-shadow: 0 0 0 3px #83B3D3;
}

.control:active .control-mark {
	background: rgba(255, 255, 255, 0.3);
}

.control-input[type="checkbox"]:checked + .control-mark::after {
	position: absolute;
	content: "";
	width: 12px;
	height: 9px;
	background-image: url('../img/hotels/tick-icon.svg');
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background: #3F5E72;
  border-radius: 50%;
  content: "";
}

.label-wrapper {
	display: flex;
	position: relative;
}

.label-wrapper::before {
	position: absolute;
	content: "от";
	font-family: inherit;
	font-size: 18px;
	color: #fff;
	opacity: .3;
	top: 50%;
	right: 50%;
    transform: translateX(-82%) translateY(-50%);
}

.label-wrapper::after {
	position: absolute;
	content: "до";
	font-family: inherit;
	font-size: 18px;
	color: #fff;
	opacity: .3;
	top: 50%;
	right: 20px;
    transform: translateY(-50%);
}

.hotels-filter-input {
	width: 143px;
	padding: 11px 15px;
	font-family: inherit;
	font-size: 18px;
	line-height: 23px;
	color: #fff;
	outline: none;
	border: 2px solid #FFFFFF;
	background: none;
}

.hotels-price-label {
	position: relative;
}

.decorative-input-border {
	display: none;
	position: absolute;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	top: -2px;
	border-radius: 5px 0 0 5px;
	left: -2px;
	border: 2px solid #81b3d2;
}

.border--right {
	border-radius: 0 5px 5px 0;
}

.input-min {
	border-radius: 4px 0 0 4px;
	border-right: 1px;
}

.input-max {
	border-radius: 0 4px 4px 0;
}

.hotels-filter-input::-webkit-outer-spin-button,
.hotels-filter-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.hotels-filter-input:hover {
	border: 2px solid rgba(255, 255, 255, .6);
}

.hotels-filter-input:focus {
	box-shadow: inset 0px 0px 0px 2px #81B3D2;
}

.hotels-filter-input:focus + .decorative-input-border{
	display: block;;
}

.hotels-filter-input:active{
	box-shadow: none;
	background: #756257;
}

.range-scale {
	position: relative;
 	height: 4px;
  	margin-top: 27px;
  	background-color: rgba(255, 255, 255, .3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFF;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  transform: translateY(-40%);
}

.range-toggle:hover {
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
	border: 3px solid #83B3D3;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
	border: 2px solid #83B3D3;
	box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
}

.toggle-max {
	right: -10px;
}

.control-label {
	line-height: 23px;
}

.hotels-container {
	margin: 0 auto;
	width: 1056px;
}

.hotels-filter-buttons {
	grid-column: 7;
	align-self: end;
}

.button-submit {
	width: 160px;
	padding: 12px;
	border-radius: 4px;
	margin-bottom: 10px;
	font-size: 16px;
	line-height: 21px;
	text-align: center;
	text-transform: uppercase;
	font-family: inherit;
	outline: none;
}

.button-submit:focus {
	background: #68A2CA;
	color: #FFFFFF;
	box-shadow: 0 0 0 3px #FFFFFF;
}

.button-submit:active {
	box-shadow: none;
	color: rgba(255, 255, 255, .3);
}

.button-clear {
	width: 160px;
	padding: 5px 28px;
	border-radius: 4px;
	margin-bottom: 0;
	font-size: 18px;
	font-weight: 400;
	line-height: 23px;
	color: inherit;
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
	font-family: inherit;
}

.button-clear:hover {
	opacity: .6;
}

.button-clear:focus {
	box-shadow: inset 0 0 0 3px#83B3D3;
}

.button-clear:active {
	opacity: 0.3;
	box-shadow: none; 
}

.hotels-sort {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 44px 0 42px;
}

.sorting-type-wrapper {
	display: flex;
	align-items: center;
}

.hotels-sorting-type {
	margin-right: 81px;
}

.select-control {
	position: relative;
	width: 287px;
	padding: 9px 19px;
	font: inherit;
	border: 2px solid #E6E6E6;
	border-radius: 4px;
	background-image: url("../img/hotels/select-arrow.svg");
  	background-repeat: no-repeat;
  	background-position: right 20px center;
	appearance: none;
	outline: none;
	cursor: pointer;
}

.select-control:hover,
.select-control:focus {
	box-shadow: 0 0 0 2px#83B3D3;
}

.select-control:active {
	background-image: url("../img/hotels/select-arrow-active.svg");
	box-shadow: 0 0 0 2px#E6E6E6;
}

.hotels-sort-title {
	font-size: 30px;
	font-weight: 700;
	line-height: 39px;
	color: #000;
	text-transform: uppercase;
}

.cards-wrapper {
	display: grid;
	grid-template-columns: repeat(3, 48px);
	grid-gap: 8px;
}

.card-toggle {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 48px;
	height: 48px;
	background-repeat: no-repeat;
	background-size: 16px 14px;
	box-shadow: inset 0 0 0 2px#E6E6E6;
	border-radius: 4px;
	outline: none;
} 

.button-menu--active {
	box-shadow: inset 0 0 0 2px#000;
}

.card-toggle:hover {
	box-shadow: inset 0 0 0 2px#83B3D3;
}

.card-toggle:focus {
	box-shadow: inset 0 0 0 2px#83B3D3;
}

.card-toggle:active {
	box-shadow: inset 0 0 0 2px#000;
}

.card-icon {
	fill: #000;
}

/* HOTEL CARD */

.hotels-catalog {
	padding-bottom: 30px;
	border-bottom: 1px solid #E6E6E6;
}

.hotels-cards {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-bottom: 24px;
}

.hotel-card {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
	padding: 28px 0 30px;
	border-top: 1px solid #E6E6E6;
}

.hotel-card:nth-last-child(1) {
	border-bottom: 1px solid #E6E6E6;
}


.hotel-card-img {
	margin-right: 37px;
}

.card-image-link {
	outline: none;
}

.card-image-link:hover {
	opacity: 0.6;
}

.card-image-link:focus  .hotel-card-img{
	box-shadow: 0 0 0 3px #83B3D3;
}

.card-image-link:active .hotel-card-img{
	box-shadow: none;
	opacity: .3;
}

.hotel-card-about {
	display: grid;
	grid-template-columns: 151px 160px;
	grid-gap: 0 8px;
	margin-right: auto;
}

.hotel-card-link {
	display: block;
	grid-column: 1 / -1;
	text-decoration: none;
	outline: none;
	margin: 0 0 1px 0;
}

.hotel-card-about-title {
	display: inline-block;
	position: relative;
	font-size: 24px;
	font-weight: 700;
	line-height: 31px;
	color: #000;
	margin: 0;
}

.hotel-card-about-title::before {
	content: "";
	position: absolute;
	border-radius: 10px;
	top: -10px;
   	left: -15px;
	width: calc(100% + 30px);
	height: calc(100% + 20px);
	z-index: -1;
}

.hotel-card-link:hover .hotel-card-about-title{
	color: #756257;
}

.hotel-card-link:focus .hotel-card-about-title::before{
	box-shadow: 0 0 0 3px #83B3D3;
}

.hotel-card-link:focus .hotel-card-about-title{
	color: #756257;
}

.hotel-card-link:active .hotel-card-about-title::before{
	box-shadow: none;
}

.hotel-card-link:active .hotel-card-about-title{
	color: rgba(117, 98, 87, .3);
	box-shadow: none;
}

.hotel-card-about p {
	line-height: 24px;
	margin: 0 0 31px 0;
}


.hotel-card-detailed {
	width: 151px;
	padding: 9px;
	border-radius: 4px;
	background-color: #756257;
	font-family: inherit;
	font-size: 16px;
	font-weight: 700;
	line-height: 21px;
	color: #fff;
	text-transform: uppercase;
	outline: none;
	border: none;
	cursor: pointer;
}

.hotel-card-detailed:hover {
	background-color: #615048;
}

.hotel-card-detailed:focus {
	box-shadow: 0 0 0 3px#83B3D3;
}

.hotel-card-detailed:active {
	box-shadow: none;
	color: rgba(255, 255, 255, .3);
}

.hotel-card-rating {
	font-size: 16px;
	line-height: 21px;
	text-transform: uppercase;
	background: #F2F2F2;
    border-radius: 4px;
    padding: 9px;
}

.favourites {
	width: 160px;
	padding: 9px;
	border-radius: 4px;
	background-color: #83B3D3;
	font-family: inherit;
	font-size: 16px;
	font-weight: 700;
	line-height: 21px;
	color: #fff;
	text-transform: uppercase;
	outline: none;
	border: none;
	cursor: pointer;
}

.favourites:hover {
	background-color: #68A2CA;
	box-shadow: inset 0 0 0 1px#756257;
}

.favourites:focus {
	box-shadow: 0 0 0 3px#756257;
}

.favourites:active {
	box-shadow: inset 0 0 0 1px#756257;
	color: rgba(255, 255, 255, .3);
}

.favourites--add {
	background-color: #7DB54F;
}

.favourites--add:hover {
	box-shadow: none;
	background-color: #6C9E42;
}

.favourites--add:focus {
	background: #6C9E42;
	box-shadow: 0 0 0 3px#756257;
}

.favourites--add:active {
	box-shadow: none;
	color: rgba(255, 255, 255, .3);
}

.hotel-card-rating-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 117px;
	align-items: center;
}

.hotel-card-rating-block {
	position: relative;
	display: flex;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.hotel-card-rating {
	margin: 0;
}

.star {
	margin-right: 25px;
}

.star::after {
	content: "";
	position: absolute;
	background-image: url('../img/hotels/star-icon.svg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 18px 17px;
	width: 18px;
	height: 17px;
	
}

.hotels-show-more {
	display: block;
	margin: 0 auto;
	width: 625px;
	padding: 13px;
	border-radius: 4px;
	background-color: #83B3D3;
	font-size: 20px;
	font-weight: 700;
	line-height: 26px;
	text-align: center;
	color: #fff;
}

/* PAGINATION */
.pagination {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 31px;
}

.pagination-list {
	display: flex;
	margin: 0;
	padding: 0;
	background-color: #fff;
	list-style: none;
}

.pagination-item {
	margin-right: 8px;
}

.pagination-item:last-child {
	margin: 0px;
}

.pagination-link {
	padding: 15px;
	display: block;
	color: #FFFFFF;
	background-color: #83B3D3;
	text-decoration: none;
	font-size: 20px;
	font-weight: 700;
	line-height: 26px;
	width: 55px;
	text-align: center;
	outline: none;
	border-radius: 4px;
}

.pagination-link:hover {
	background: #68A2CA;
}

.pagination-link:focus {
	box-shadow: 0 0 0 3px#756257;
}

.pagination-link:active {
	background: #68A2CA;
	color: rgba(255, 255, 255, .3);
	box-shadow: none;
}

.pagination-link--current {
	background: #F2F2F2;
	color: #000000;
}

.select-pagination {
  width: 160px;
  padding: 9px 19px;
  margin-left: 51px;
  font: inherit;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  background-image: url("../img/hotels/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  appearance: none;
  outline: none;
  cursor: pointer;
}

.select-pagination:hover,
.select-pagination:focus {
	box-shadow: 0 0 0 2px#83B3D3;
}

.select-pagination:active {
	background-image: url("../img/hotels/select-arrow-active.svg");
	box-shadow: 0 0 0 2px#E6E6E6;
}

/* POPUP */

.popup {
	display: none;
	position: absolute;
	width: 400px;
	min-height: 108px;
	border-radius: 20px;
	box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
	background: #fff;
	box-sizing: border-box;
	top: 62px;
	right: 71px;
	z-index: 1;
}

.popup-open {
  display: block;
}

.popup-list {
	position: relative;
	list-style-type: none;
	margin: 0;
	padding: 25px 15px 0 25px;
	border: 1px solid #E6E6E6;
	border-radius: 20px 20px 0 0;
    border-bottom: none;
	display: flex;
	flex-direction: column;
}

.popup-list::before {
	position: absolute;
	content: "";
	background-image: url('../img/popup/triangle.svg');
	background-position: center;
	background-repeat: no-repeat;
	width: 20px;
	height: 9px;
	top: -9px;
    left: 50%;
    transform: translateX(-59%);
}

.popup-item {
	display: flex;
	justify-content: space-between;
    align-items: flex-start;
	margin-bottom: 25px;
}

.popup-item:nth-last-child(1) {
	margin-bottom: 27px;
}

.popup-link-wrapper {
	display: grid;
    grid-template-columns: 48px auto;
}

.popup-link {
	display: inline-block;
	position: relative;
	outline: none;
	text-decoration: none;
}

.popup-link::before {
	content: "";
	position: absolute;
	border-radius: 10px;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	width: calc(100% + 20px);
	height: calc(100% + 20px);
}

.popup-link:hover {
	opacity: .6;
}

.popup-link:focus::before {
	box-shadow: 0 0 0 3px #83b3d3;
}

.popup-link:active::before {
	box-shadow: none;
}

.popup-link:active {
	opacity: .3;
}

.popup-img {
	grid-column: 1/2;
	grid-row: 1/3;
	border-radius: 50%;
}
.popup-title {
	display: inline-block;
	grid-column: 2/3;
	grid-row: 1/2;
	font-family: PT Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: #000000;
	margin: 0;
	padding-left: 15px;
}

.popup-description {
	display: inline-block;
	grid-column: 2/3;
	grid-row: 2/2;
	font-family: PT Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: #333333;
	margin: 0;
	padding-left: 14px;
}

.popup-icon {
	fill: rgba(0, 0, 0, .3);
}

.popup-button-delete {
	border: none;
	outline: none;
	padding: 9px 10px;
	border-radius: 10px;
	background-color: #fff;
	cursor: pointer;
}

.popup-button-delete:hover .popup-icon{
	fill: #000;
}

.popup-button-delete:focus {
	box-shadow:  0 0 0 3px #83B3D3;
}

.popup-button-delete:focus .popup-icon {
	fill: #000;
}

.popup-button-delete:active {
	box-shadow: none;
	opacity: .2;
}

.btn-popup-favourites {
	width: 100%;
	background: #756257;
	border-radius: 0px 0px 18px 20px;
	padding: 19px;
	border: none;
	outline: none;
	cursor: pointer;

	font-family: PT Sans;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 21px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
}

.btn-popup-favourites:hover {
	background: #615048;
}

.btn-popup-favourites:focus {
	box-shadow: 0 0 0 3px #83B3D3;
}

.btn-popup-favourites:active {
	box-shadow: none;
	color: rgba(255, 255, 255, .3);
}

/* MODAL */

.modal-container {
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(242, 242, 242, 0.8);
	z-index: 2;
}

.modal-container-open {
  display: flex;
}

.modal {
	position: relative;
	width: 715px;
	margin: auto;
	padding: 62px 70px 70px;
	background-color: #FFFFFF;
	box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
	border-radius: 30px;
	top: 50%;
	transform: translateY(-50%);
}

.modal-title {
	margin: 0;
	margin-bottom: 54px;
	font-family: PT Sans;
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 40px;
	text-transform: uppercase;
	color: #000000;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  background-color: #F2F2F2;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
}

.modal-close-button:hover {
	background: #E6E6E6;
}

.modal-close-button:focus {
	background: #E6E6E6;
	box-shadow: 0 0 0 3px #83B3D3;
}

.modal-close-button:active {
	box-shadow: none;
}

.modal-close-button:active .modal-close-icon{
	opacity: .3;
	box-shadow: none;
}

.date-form-wrapper {
	flex-grow: 2;
	position: relative;
}

.modal-input-message {
	position: absolute;
	bottom: -20px;
	left: 0;
	font-family: inherit;
	font-size: 16px;
	color: #333333;
}

.message--error {
	color: #ff5757;
}

.date-form-field {
	position: relative;
	background: #f2f2f2;
	border-radius: 4px;
	border: none;
	outline: none;
	padding: 14px 27px 14px 19px;
	width: 420px;
	appearance: none;
	border: 2px solid #f2f2f2;

	font-family: inherit;
	font-weight: 700;
	font-size: 18px;
	color: rgba(0, 0, 0, .6);
}

.date-form-field::-webkit-outer-spin-button,
.date-form-field::-webkit-inner-spin-button {
	appearance: none;
	margin: 0;
}

.date-form-field:hover {
	background: #E6E6E6;
}

.date-form-field:focus {
	background: #E6E6E6;
	box-shadow: 0 0 0 3px #83B3D3;
}

.date-form-field:active {
	color: #000;
	background: #fff;
	border: 2px solid #000;
	box-shadow: none;
}

.date-form-input {
	display: flex;
	flex-grow: 1;
	align-items: center;
	position: relative;
	margin-bottom: 40px;
}

.modal-date-link {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-40%);
	outline: none;
}

.modal-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style-type: none;
	margin-bottom: 40px;
}

.modal-label {
	flex-grow: 1;
	font-weight: 700;
	color: #000;
	margin-right: 45px;
}

.modal-button-info {
	position: relative;
	margin-right: 18px;
	background: #83B3D3;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	text-align: center;
	font-size: 14px;
	color: #fff;
	cursor: pointer;
}

.modal-button-info::after {
	position: absolute;
	content: "";
	background-image: url('../img/modal/triangle-modal.svg');
	background-repeat: no-repeat;
	width: 19px;
	height: 9px;
	bottom: -11px;
    left: 50%;
    transform: translateX(-50%);
	visibility: hidden;
}

.modal-button-info:hover::after {
	visibility: visible;
}

.modal-button-info:hover {
	background: #68A2CA;
}

.modal-button-info span {
	background-color: #333;
	border-radius: 10px;
	color: #fff;
	padding: 15px 15px 18px 22px;
	position: absolute;
	font-size: 16px;
	
	visibility: hidden;
	width: 256px;
	top: 50%;
    transform: translateX(-40%) translateY(20%);
    left: -50%;
	z-index: 10;
}	

.modal-button-info:hover span {
	opacity: 1;
	visibility: visible;
}

.modal-item {
	display: flex;
    align-items: center;
}

.modal-item:nth-child(1) .modal-label{
	margin-right: 76px;
}

.modal-item:nth-child(2) .modal-label{
	margin-right: 8px;
}

.modal-wrapper {
	position: relative;
	display: flex;
    align-items: center;
}

.modal-input {
	width: 133px;
	padding: 5px;
	background: #F2F2F2;
	border-radius: 4px;
	text-align: center;
	border: none;
	outline: none;
	font-family: inherit;
	font-weight: 700;
	font-size: 18px;
	line-height: 40px;
}

.modal-button {
	display: flex;
	position: absolute;
	padding: 17px;
	background: #F2F2F2;
	border-radius: 4px;
	border: none;
	outline: none;
	cursor: pointer;
}

.modal-button--minus {
	color: rgba(0, 0, 0, .3);
}

.modal-button--minus:hover {
	color: #000;
}

.modal-button--minus:focus {
	color: #000;
}

.modal-input-icon {
	fill: rgba(0, 0, 0, .3);
}

.modal-button:hover .modal-input-icon{
	fill: #000;
}

.modal-button:focus {
	box-shadow: inset 0 0 0 3px #83B3D3;
}

.modal-button:focus .modal-input-icon{
	fill: #000000;
}

.modal-button:active {
	box-shadow: none;
}

.modal-button:active .modal-input-icon{
	fill: rgba(0, 0, 0, .3);
}

.modal-button--minus {
	left: 0;
}

.modal-button--plus {
	right: 0;
}

.modal-input::-webkit-outer-spin-button,
.modal-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.search-modal-button {
	display: block;
	margin: 0 auto;
	width: 100%;
	padding: 10px;
	background: #83B3D3;
	border-radius: 10px;
	outline: none;
	border: none;
	text-decoration: none;
	text-align: center;

	font-family: PT Sans;
	font-weight: 700;
	font-size: 20px;
	line-height: 40px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.search-modal-button:hover {
	background: #68A2CA;
}

.search-modal-button:focus {
	background: #68A2CA;
	box-shadow: 0 0 0 3px #756257;
}

.search-modal-button:active {
	box-shadow: none;
	color: rgba(255, 255, 255, .3);
}